<div class="position-relative clearfix">
  <button mat-icon-button color="warn" [mat-dialog-close]="false" tabindex="-1" class="float-right dialog-close">
    <mat-icon>highlight_off</mat-icon>
  </button>
</div>
<div class="container">
  <div class="row">
    <div class="col pt-3 pb-5 text-center">
      <p>{{data.message}}</p>
    </div>
  </div>
  <div class="row pb-0">
    <button mat-raised-button [mat-dialog-close]="false" class="col m-0">NO</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
    <button mat-raised-button color="warn" [mat-dialog-close]="true" class="col m-0">YES</button>
  </div>
</div>
