<div id="post-header" class="page-header">
  <div class="background-img" style="background-image: url('../../assets/post-page.jpg');"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="post-meta">
          <a *ngIf="post?.category" [ngClass]="'post-category '+ post.category.color"
            [routerLink]="['/blog', 'category', post.category.id, post.category.slug]">{{post.category.title}}</a>
          <span *ngIf="post?.created" class="post-date">{{post.created | date:'longDate'}}</span>
        </div>
        <h1>{{post?.title}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid  pt-5">
  <div class="row">
    <div class="col-md-8">
      <div class="section-row sticky-container">
        <div *ngIf="post?.content" class="main-post">{{post.content}}</div>
        <div class="post-shares sticky-shares" style="position: absolute; top: 0px; left: 0px;">
          <a href="#" class="share-facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="share-twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="share-google-plus"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="share-pinterest"><i class="fa fa-pinterest"></i></a>
          <a href="#" class="share-linkedin"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-envelope"></i></a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div *ngIf="mostReadPosts" class="aside-widget">
        <div class="section-title">
          <h2>Most Read</h2>
        </div>
        <div *ngFor="let post of mostReadPosts" class="row">
          <div class="col">
            <app-post-samuray [post]="post" layout="widget"></app-post-samuray>
          </div>
        </div>
      </div>


      <div *ngIf="featuredPosts" class="aside-widget">
        <div class="section-title">
          <h2>Featured Posts</h2>
        </div>
        <div *ngFor="let post of featuredPosts" class="row">
          <div class="col">
            <app-post-samuray [post]="post" layout="thumb"></app-post-samuray>
          </div>
        </div>

      </div>

      <div *ngIf="allCategories" class="aside-widget">
        <div class="section-title">
          <h2>Catagories</h2>
        </div>
        <div class="category-widget">
          <ul>
            <li *ngFor="let category of allCategories"><a
                [routerLink]="['/blog', 'category', category.id, category.slug]"
                [ngClass]="category.color">{{category.title}}<span>{{category.articlesCount}}</span></a></li>
          </ul>
        </div>
      </div>

      <div *ngIf="allTags" class="aside-widget">
        <div class="section-title">
          <h2>Tags</h2>
        </div>
        <div class="tags-widget">
          <ul>
            <li *ngFor="let tag of allTags"><a [routerLink]="['/blog', 'tag', tag.id, tag.slug]">{{tag.name}}</a></li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>
