<div id="parrent-Element" class="page-header p-0" #blogheadingzone style="display: block;">
  <img src="../../assets/Blog2.png" alt="" style="width: 100%;" id="blogImage" (load)="onLoad()">
  <div class="heading" #headingBlock [style.top.px]="headingTopPosition" #blogheadingBlock>
    <h1>Blog</h1>
  </div>
</div>



<div *ngIf="articlesEnVedette" class="container-fluid pt-4">
  <div class="row">
    <div *ngFor="let article of articlesEnVedette" class="col">
      <app-post-samuray [post]="article" layout="thumb"></app-post-samuray>
    </div>
  </div>
</div>


<div *ngIf="recentPosts" class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Recent Posts</h2>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let article of recentPosts" class="col-md-4">
      <app-post-samuray [post]="article" layout=""></app-post-samuray>
    </div>
  </div>
</div>



<div *ngIf="featuredPosts" class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Featured Posts</h2>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let article of featuredPosts" class="col-md-4">
      <app-post-samuray [post]="article" layout=""></app-post-samuray>
    </div>
  </div>
</div>


<div *ngIf="mostReadPosts" class="container-fluid">
  <div class="row">
    <div class="col">
      <h2>Most Read</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">


      <div *ngFor="let article of mostReadPosts" class="row">
        <div class="col">
          <app-post-samuray [post]="article" layout="row">
          </app-post-samuray>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>


</div>
