<app-admin-menu>
  <h2>Current user</h2>
  <p>email {{currentuser.email}}</p>
  <p>firstName {{currentuser.firstName}}</p>
  <p>lastName {{currentuser.lastName}}</p>
  <p>username {{currentuser.username}}</p>
  <h1>Roles</h1>
  <ul class="products">
    <li *ngFor="let p of currentuser.roles; let i=index;">
      <h2>{{p.name}}</h2>
    </li>
  </ul>
</app-admin-menu>
