<div class="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <ul class="page-header-breadcrumb">
          <li><a [routerLink]="['/blog' ]">Blog</a></li>
          <li *ngIf="selectedCategory">{{selectedCategory.title}}</li>
        </ul>
        <h1 *ngIf="selectedCategory">{{selectedCategory.title}}</h1>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid pt-5">
  <div class="row">
    <div class="col-md-8">

      <div class="row">
        <div class="col">
          <app-post-samuray *ngIf="lastCategoryPost" [post]="lastCategoryPost" layout="thumb"></app-post-samuray>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div *ngFor="let post of categoryPosts" class="row">
            <div class="col">
              <app-post-samuray [post]="post" layout="row"></app-post-samuray>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button *ngIf="categoryPosts.length && page && page.pageNumber + 1 < page.pageSize" mat-raised-button
            color="primary" (click)="loadMore()">Load
            More</button>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div *ngIf="mostReadPosts" class="aside-widget">
        <div class="section-title">
          <h2>Most Read</h2>
        </div>
        <div *ngFor="let post of mostReadPosts" class="row">
          <div class="col">
            <app-post-samuray [post]="post" layout="widget"></app-post-samuray>
          </div>
        </div>
      </div>


      <div *ngIf="featuredPosts" class="aside-widget">
        <div class="section-title">
          <h2>Featured Posts</h2>
        </div>
        <div *ngFor="let post of featuredPosts" class="row">
          <div class="col">
            <app-post-samuray [post]="post" layout="thumb"></app-post-samuray>
          </div>
        </div>

      </div>

      <div *ngIf="allCategories" class="aside-widget">
        <div class="section-title">
          <h2>Catagories</h2>
        </div>
        <div class="category-widget">
          <ul>
            <li *ngFor="let category of allCategories"><a
                [routerLink]="['/blog', 'category', category.id, category.slug]"
                [ngClass]="category.color">{{category.title}}<span>{{category.articlesCount}}</span></a></li>
          </ul>
        </div>
      </div>

      <div *ngIf="allTags" class="aside-widget">
        <div class="section-title">
          <h2>Tags</h2>
        </div>
        <div class="tags-widget">
          <ul>
            <li *ngFor="let tag of allTags"><a [routerLink]="['/blog', 'tag', tag.id, tag.slug]">{{tag.name}}</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>
