<div [ngClass]=" 'post post-'  + layout ">
  <a class="post-img" [routerLink]="['/blog', post.id, post.slug ]">
    <img src="../../assets/{{post.slug}}.jpg">
  </a>
  <div class="post-body">
    <div *ngIf="layout !='widget'" class="post-meta">
      <a *ngIf="post.category" [ngClass]=" 'post-category cat-'  + post.category.color "
        [routerLink]="['/blog', 'category', post.category.id, post.slug]">{{post.category.title}}</a>
      <span *ngIf="post.created" class="post-date">{{post.created | date:'longDate'}}</span>
    </div>
    <h3 *ngIf="post.title" class="post-title"><a [routerLink]="['/blog', post.id, post.slug ]">{{post.title}}</a></h3>
    <p *ngIf="layout == 'row'">
      {{ (post.content.length>postSamurayContetLength)? (post.content | slice:0:postSamurayContetLength)+'...':(post.content) }}
    </p>

  </div>
</div>
