.mat-row.hovered {
  background: #eee;
}

.mat-row.highlighted {
  background: #6c757d;
}

.mat-row.highlighted>.mat-cell {
  color: #eee;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-elevation-z8 {
  position: relative;
  overflow: auto;
}

.categories-table .cat-actions-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.categories-table td.mat-cell {
  position: relative;
  padding-right: 0;
}
