<app-admin-menu>
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="mt-3 text-center">Categories Level 0</h2>
        <div class="search">
          <mat-form-field floatLabel="never" class="w-100">
            <input matInput [(ngModel)]="level0SearchKeyword" placeholder="search" autocomplete="off"
              (keydown)="level0ApplayFilter($event)">
            <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="level0SearchKeyword"
              (click)="level0SerachClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>


        <div class="mat-elevation-z8">
          <div class="example-loading-shade" *ngIf="level0IsLoadingResults">
            <mat-spinner *ngIf="level0IsLoadingResults"></mat-spinner>
          </div>
          <table [dataSource]="level0Data" mat-table class="w-100 categories-table" #level0Sort="matSort" matSort
            matSortActive="name" matSortDisableClear matSortDirection="asc">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (change)="level0DataSelectionToggle(row)" [checked]="level0DataSelection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let row">

                {{row.name}}<br />
                <small>{{row.description}}</small>
                <button mat-icon-button class="cat-actions-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="categoryEdit(row)">Edit</button>
                  <button mat-menu-item (click)="categoryRemove(row)">Remove</button>
                </mat-menu>
              </td>
            </ng-container>


            <ng-container matColumnDef="noData">
              <td mat-footer-cell *matFooterCellDef colspan="2">
                No data.
              </td>
            </ng-container>



            <tr mat-footer-row *matFooterRowDef="['noData']"
              [ngClass]="{'d-none':!(level0Data!=null && level0Data.data.length==0)}"></tr>

            <tr mat-header-row *matHeaderRowDef=" displayedColumns">
            </tr>

            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{hovered: row.hovered, highlighted: level0DataSelection.isSelected(row)}"
              (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
            </tr>
          </table>

          <mat-paginator #level0Paginator [length]="level0Page.totalElements" [pageIndex]="level0Page.number"
            showFirstLastButtons [pageSize]="level0Page.size" [pageSizeOptions]="[5, 10, 50]">
          </mat-paginator>
        </div>
        <div class="actions mt-3">
          <button mat-raised-button (click)="categoryAdd(0)">
            <mat-icon>add</mat-icon> Add
          </button>
        </div>
      </div>
      <div class="col">
        <h2 class="mt-3 text-center">Categories Level 1</h2>
        <div class="search">
          <mat-form-field floatLabel="never" class="w-100">
            <input matInput [(ngModel)]="level1SearchKeyword" placeholder="search" autocomplete="off"
              (keydown)="level1ApplayFilter($event)">
            <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="level1SearchKeyword"
              (click)="level1SerachClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>


        <div class="mat-elevation-z8">
          <div class="example-loading-shade" *ngIf="level1IsLoadingResults">
            <mat-spinner *ngIf="level1IsLoadingResults"></mat-spinner>
          </div>
          <table [dataSource]="level1Data" mat-table class="w-100 categories-table" #level1Sort="matSort" matSort
            matSortActive="name" matSortDisableClear matSortDirection="asc">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (change)="level1DataSelectionToggle(row)" [checked]="level1DataSelection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let row">
                {{row.name}}<br />
                <small>{{row.description}}</small>
                <button mat-icon-button class="cat-actions-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="categoryEdit(row)">Edit</button>
                  <button mat-menu-item (click)="categoryRemove(row)">Remove</button>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="noData">
              <td mat-footer-cell *matFooterCellDef colspan="2">
                No data.
              </td>
            </ng-container>

            <tr mat-footer-row *matFooterRowDef="['noData']"
              [ngClass]="{'d-none':!(level1Data!=null && level1Data.data.length==0)}"></tr>

            <tr mat-header-row *matHeaderRowDef=" displayedColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{hovered: row.hovered, highlighted: level1DataSelection.isSelected(row)}"
              (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
            </tr>
          </table>

          <mat-paginator #level1Paginator [length]="level1Page.totalElements" [pageIndex]="level1Page.number"
            showFirstLastButtons [pageSize]="level1Page.size" [pageSizeOptions]="[5, 10, 50]">
          </mat-paginator>
        </div>
        <div class="actions mt-3">
          <button mat-raised-button (click)="categoryAdd(1)">
            <mat-icon>add</mat-icon> Add
          </button>
        </div>
      </div>
      <div class="col">
        <h2 class="mt-3 text-center">Categories Level 2</h2>
        <div class="search">
          <mat-form-field floatLabel="never" class="w-100">
            <input matInput [(ngModel)]="level2SearchKeyword" placeholder="search" autocomplete="off"
              (keydown)="level2ApplayFilter($event)">
            <button mat-button matSuffix mat-icon-button aria-label="clear" *ngIf="level2SearchKeyword"
              (click)="level2SerachClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>


        <div class="mat-elevation-z8">
          <div class="example-loading-shade" *ngIf="level2IsLoadingResults">
            <mat-spinner *ngIf="level2IsLoadingResults"></mat-spinner>
          </div>
          <table [dataSource]="level2Data" mat-table class="w-100 categories-table" #level2Sort="matSort" matSort
            matSortActive="name" matSortDisableClear matSortDirection="asc">

            <!-- Checkbox Column -->
            <ng-container matColumnDef="select">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let row">
                <mat-checkbox (change)="level2DataSelectionToggle(row)" [checked]="level2DataSelection.isSelected(row)">
                </mat-checkbox>
              </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
              <td mat-cell *matCellDef="let row">
                {{row.name}}<br />
                <small>{{row.description}}</small>
                <button mat-icon-button class="cat-actions-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item (click)="categoryEdit(row)">Edit</button>
                  <button mat-menu-item (click)="categoryRemove(row)">Remove</button>
                </mat-menu>
              </td>
            </ng-container>

            <ng-container matColumnDef="noData">
              <td mat-footer-cell *matFooterCellDef colspan="2">
                No data.
              </td>
            </ng-container>

            <tr mat-footer-row *matFooterRowDef="['noData']"
              [ngClass]="{'d-none':!(level2Data!=null && level2Data.data.length==0)}"></tr>

            <tr mat-header-row *matHeaderRowDef=" displayedColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              [ngClass]="{hovered: row.hovered, highlighted: level2DataSelection.isSelected(row)}"
              (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
            </tr>
          </table>

          <mat-paginator #level2Paginator [length]="level2Page.totalElements" [pageIndex]="level2Page.number"
            showFirstLastButtons [pageSize]="level2Page.size" [pageSizeOptions]="[5, 10, 50]">
          </mat-paginator>
        </div>
        <div class="actions mt-3">
          <button mat-raised-button (click)="categoryAdd(2)">
            <mat-icon>add</mat-icon> Add
          </button>
        </div>
      </div>
    </div>
  </div>
</app-admin-menu>
