<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [ngClass]="{'d-none' : !(isHandset$ | async)}"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>

    <mat-nav-list *ngIf="(isHandset$ | async)">
      <a mat-list-item *ngFor="let menu of menuCategories" (click)="drawer.close()"
        [routerLink]="['/blog', 'category', menu.id, menu.slug]">{{menu.title}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content id="header">
    <div id="nav">
      <div id="progress-bar">
        <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
      </div>
      <mat-toolbar id="nav-fixed" class="slide-down">

        <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <!-- logo -->
        <div class="nav-logo">
          <a [routerLink]="['/blog' ]" class="logo"><img src="../../assets/logo13.png" alt=""></a>
        </div>
        <!-- nav -->
        <ul *ngIf="!(isHandset$ | async)" class="nav-menu nav navbar-nav">
          <li [ngClass]="menu.color" *ngFor="let menu of menuCategories">
            <a [routerLink]="['/blog', 'category', menu.id, menu.slug]">{{menu.title}}</a>
          </li>
        </ul>
        <!-- /nav -->
        <ul class="m-0 p-0 pull-right ">
          <li>
            <a [routerLink]="['/contact']">Contact</a>
          </li>
        </ul>
      </mat-toolbar>
    </div>

    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
