.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 210px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

/*=========================================================
	NAVIGATION
===========================================================*/
#nav {
  height: 70px;
}

#nav:after {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(33, 38, 49, 0.5);
  z-index: 90;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

#nav.shadow-active:after {
  opacity: 1;
  visibility: visible;
}

#progress-bar {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 90;
  background: #fff;
  height: 4px;
}

#nav-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 4px;
  z-index: 90;
  background-color: #fff;
  -webkit-box-shadow: 0px -1px 0px 0px #eceef2 inset;
  box-shadow: 0px -1px 0px 0px #eceef2 inset;
  height: 70px;
}

#nav-fixed.slide-down {
  -webkit-animation: slide-down 0.3s;
  animation: slide-down 0.3s;
}

#nav-fixed.slide-up {
  -webkit-animation: slide-up 0.3s;
  animation: slide-up 0.3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes slide-down {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  from {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  to {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
  }

  to {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}

#nav .container {
  position: relative;
}

/*----------------------------*\
logo
\*----------------------------*/
.nav-logo {}

.nav-logo .logo {
  line-height: 70px;
  display: inline-block;
}

.nav-logo .logo>img {
  border-radius: 5px;
  max-height: 70px;
}

/*----------------------------*\
menu
\*----------------------------*/
.nav-menu {
  padding-left: 0px;
  float: left;
  margin: 0;
}

.navbar-nav>li {
  float: left;
  position: relative;
  display: block;
}

.nav-menu li a {
  position: relative;
  padding: 25px 18px;
  text-transform: capitalize;
  -webkit-box-shadow: -1px 0px 0px 0px #eceef2 inset;
  box-shadow: -1px 0px 0px 0px #eceef2 inset;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  letter-spacing: normal;
  font-weight: 600;
  color: #212631 !important;
  text-decoration: none;
  display: block;
}

.nav-menu li:first-child a {
  border-left: 1px solid #eceef2;
}

.nav-menu li a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  width: 100%;
  height: 4px;
  -webkit-transition: 0.2s width;
  transition: 0.2s width;
}

.nav-menu li.green a:after {
  background-color: #4bb92f;
}

.nav-menu li.orange a:after {
  background-color: #ff8700;
}

.nav-menu li.blue a:after {
  background-color: #0078ff;
}

.nav-menu li.purple a:after {
  background-color: #8d00ff;
}

.nav-menu li a:hover,
.nav-menu li a:focus {
  background-color: transparent;
  text-decoration: none;
}

.nav-menu li.cat-1 a:hover,
.nav-menu li.cat-1 a:focus {
  color: #4bb92f;
}

.nav-menu li.cat-2 a:hover,
.nav-menu li.cat-2 a:focus {
  color: #ff8700;
}

.nav-menu li.cat-3 a:hover,
.nav-menu li.cat-3 a:focus {
  color: #0078ff;
}

.nav-menu li.cat-4 a:hover,
.nav-menu li.cat-4 a:focus {
  color: #8d00ff;
}

/*----------------------------*\
search
\*----------------------------*/
.nav-btns {
  float: right;
}

.nav-btns>button {
  padding: 25px 25px;
  border: none;
  line-height: 20px;
  background: transparent;
}

.nav-btns .search-form {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  padding: 0px 15px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.nav-btns .search-form.active {
  opacity: 1;
  visibility: visible;
}

.nav-btns .search-form .search-input {
  height: 100%;
  width: 100%;
  border: none;
  background: #fff;
  padding: 0px;
  font-weight: 600;
}

.nav-btns .search-form .search-close {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: none;
  background: transparent;
  line-height: 20px;
  color: #212631;
  font-size: 22px;
  padding: 0;
}
