<mat-toolbar>
  <a routerLink="/">EchriWbi3.com</a><span class="ml-3">/ Admin Panel</span>

</mat-toolbar>
<div class="container pt-md-5">
  <div class="row h-100">

    <div class="col-md-4 my-auto">
      <mat-card class="mt-3">
        <mat-tab-group>
          <mat-tab label="Se connecter">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="container">
              <div class="row pt-2">
                <mat-form-field class="col">
                  <mat-label>Username</mat-label>
                  <input matInput formControlName="username">
                  <mat-error *ngIf="submitted && f.username.errors">
                    <div *ngIf="f.username.errors.required">Username is <strong>required</strong></div>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="row pt-2">
                <mat-form-field class="col">
                  <mat-label>Password</mat-label>
                  <input matInput formControlName="password" type="password">
                  <mat-error *ngIf="submitted && f.password.errors">
                    <div *ngIf="f.password.errors.required">Password is <strong>required</strong></div>
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="pt-3">
                <mat-card-actions class="col">
                  <button [disabled]="loading" mat-raised-button color="primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <mat-icon>person</mat-icon> Se connecter
                  </button>
                </mat-card-actions>
              </div>
              <div class="row">
                <div fxFlex *ngIf="error" class="col alert alert-danger mt-3 mb-0">{{error}}</div>
              </div>
            </form>
          </mat-tab>
          <mat-tab label="S'inscrir">
            <h1>Terrible sushi restaurants</h1>
            <p>...</p>
          </mat-tab>
        </mat-tab-group>
      </mat-card>
    </div>
    <div class="col-md-8 my-auto">
      <img src="../../assets/echriwbi3.com.png" style="max-width: 100%;">
    </div>
  </div>
</div>
