<mat-toolbar class="pr-0 position-relative">
  <span>
    {{ categoryService.form.get('id').value?'Edit':'Add'}} Category
  </span>
  <button mat-icon-button color="warn" [mat-dialog-close]="false" tabindex="-1" (click)="caregoryClear()"
    class="position-absolute dialog-close">
    <mat-icon>highlight_off</mat-icon>
  </button>
</mat-toolbar>
<form [formGroup]="categoryService.form" (ngSubmit)="saveCategory()" class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <input type="hidden" formControlName="id">
        <mat-form-field class="w-100">
          <input matInput formControlName="name" placeholder="Category Name">
          <mat-error *ngIf="categoryService.form.controls['name'].errors?.required">This field is mandatory.</mat-error>
        </mat-form-field>


        <mat-form-field class="w-100">
          <textarea matInput formControlName="description" placeholder="Category description" rows="10"></textarea>
          <mat-error *ngIf="categoryService.form.controls['description'].errors?.maxlength">
            Field Max length 200 exeeded.
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col">
        <mat-form-field class="w-100">
          <mat-label>Category Level</mat-label>
          <mat-select formControlName="categoryLevel" (selectionChange)="parentCategoryChange()">
            <mat-option *ngFor="let level of [0,1,2]" [value]="level">
              {{level}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="categoryService.form.controls['categoryLevel'].errors?.required">This field is mandatory.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <mat-label>Parent Category</mat-label>
          <mat-select formControlName="parentCategory">
            <mat-option *ngFor="let category of parentCategories" [value]="category.id">
              {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col pt-4">
        <button mat-raised-button color="primary" type="submit" [disabled]="categoryService.form.invalid">Save</button>
        <button mat-raised-button class="ml-2" (click)="caregoryClear()">Clear</button>
      </div>
    </div>
  </div>
</form>
