<form [formGroup]="blogContactService.contactForm" (ngSubmit)="submitContact()" class="mt-4">
  <div class="container">
    <div class="row">
      <div class="col">
        <mat-form-field class="w-100">
          <input matInput formControlName="name" placeholder="Name">
          <mat-error *ngIf="blogContactService.contactForm.controls['name'].errors?.required">This field is mandatory.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-100">
          <input matInput formControlName="email" placeholder="Email">
          <mat-error *ngIf="blogContactService.contactForm.controls['email'].errors?.required">This field is mandatory.
          </mat-error>
        </mat-form-field>


        <mat-form-field class="w-100">
          <textarea matInput formControlName="message" placeholder="Message" rows="10"></textarea>
          <mat-error *ngIf="blogContactService.contactForm.controls['message'].errors?.maxlength">
            Field Max length 200 exeeded.
          </mat-error>
        </mat-form-field>

      </div>
    </div>
    <div class="row">
      <div class="col pt-4">
        <button mat-raised-button color="primary" type="submit"
          [disabled]="blogContactService.contactForm.invalid">Save</button>
        <button mat-raised-button class="ml-2" (click)="clearContact()">Clear</button>
      </div>
    </div>
  </div>
</form>
