@import "variables";
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import '~bootstrap/scss/utilities';
@import "reset";

.confirm-dialog-container .mat-dialog-container {
  padding: 0;
}

.confirm-dialog-container .mat-raised-button {
  border-radius: 0;
}


.sticky-container {
  position: relative;
  padding-left: 80px;
}

.sticky-container .sticky-shares {
  position: absolute;
  top: 0;
  left: 0;
}

.sticky-shares a {
  display: block;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  background-color: #fbfbfd;
  color: #a7b3c6 !important;
  border: 1px solid #eceef2;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.sticky-shares a:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.sticky-shares a.share-facebook:hover {
  color: #3b5998 !important;
  border-color: #3b5998 !important;
}

.sticky-shares a.share-twitter:hover {
  color: #55acee !important;
  border-color: #55acee !important;
}

.sticky-shares a.share-google-plus:hover {
  color: #dd4b39 !important;
  border-color: #dd4b39 !important;
}

.sticky-shares a.share-pinterest:hover {
  color: #ff0000 !important;
  border-color: #ff0000 !important;
}

.sticky-shares a.share-linkedin:hover {
  color: #007bb5 !important;
  border-color: #007bb5 !important;
}


.aside-widget {
  margin-bottom: 40px;
}

.category-widget ul {
  margin: 0;
  padding: 0;
}

.category-widget ul li {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #eceef2;
}

.category-widget ul li+li {
  margin-top: 10px;
}

.category-widget ul li>a {
  display: block;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
  font-weight: 600;
  color: #212631;
  text-decoration: none;
}

.category-widget ul li>a.green>span {
  background-color: #4bb92f;
}

.category-widget ul li>a.green:hover,
.category-widget ul li>a.green:focus {
  color: #4bb92f;
}

.category-widget ul li>a.orange>span {
  background-color: #ff8700;
}

.category-widget ul li>a.orange:hover,
.category-widget ul li>a.orange:focus {
  color: #ff8700;
}

.category-widget ul li>a.blue>span {
  background-color: #0078ff;
}

.category-widget ul li>a.blue:hover,
.category-widget ul li>a.blue:focus {
  color: #0078ff;
}

.category-widget ul li>a.purple>span {
  background-color: #8d00ff;
}

.category-widget ul li>a.purple:hover,
.category-widget ul li>a.purple:focus {
  color: #8d00ff;
}

.category-widget ul li>a>span {
  float: right;
  color: #fff;
  background-color: #212631;
  padding: 0px 5px;
  font-weight: 600;
  border-radius: 2px;
}

.tags-widget ul {
  margin: 0;
  padding: 0;
}

.tags-widget ul li {
  display: inline-block;
  margin-right: 3px;
  margin-bottom: 5px;
}

.tags-widget ul li a {
  display: block;
  color: #fff;
  background-color: #212631;
  padding: 3px 10px;
  font-weight: 600;
  border-radius: 2px;
  -webkit-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.tags-widget ul li a:hover,
.tags-widget ul li a:focus {
  opacity: 0.9;
  color: #fff;
  text-decoration: none;
}

.archive-widget ul {
  margin: 0;
  padding: 0;
}

.archive-widget ul li {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid #eceef2;
}

.archive-widget ul li>a {
  display: block;
  font-weight: 600;
  color: #212631;
  text-decoration: none;
}

.archive-widget ul li>a:hover,
.archive-widget ul li>a:focus {
  color: #212631;
  text-decoration: underline;
  outline: none;
}

.archive-widget ul li+li {
  margin-top: 10px;
}
