<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer class="sidenav d-md-none" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin" routerLinkActive="router-link-active">Admin</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span class="ml-md-3">EchriWbi3.com</span>
      <div class="col d-none d-md-block">
        <div *ngFor="let link of links; let i=index;" class="float-xl-right float-lg-right float-md-right">
          <button *ngIf="link.clickFunction" (click)="logout()" mat-button>
            <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon> {{link.name}}
          </button>
          <a *ngIf="link.router" [routerLink]="link.router" mat-button>
            <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon> {{link.name}}
          </a>
        </div>
      </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
