<mat-sidenav-container class="sidenav-container" fullscreen>
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/admin" routerLinkActive="router-link-active">Dashboard</a>
      <a mat-list-item routerLink="/admin/categories" routerLinkActive="router-link-active">Categories</a>
      <a mat-list-item routerLink="/admin/articles" routerLinkActive="router-link-active">Articles</a>
      <a mat-list-item routerLink="/admin/tags" routerLinkActive="router-link-active">Tags</a>
      <a mat-list-item routerLink="/admin/account" routerLinkActive="router-link-active">
        <mat-icon>person</mat-icon> My Account
      </a>
      <a mat-list-item (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Echriwbi3.com</span>
      <div fxFlex fxLayout="row" fxLayoutAlign="end center">
        <div *ngFor="let link of links; let i=index;">
          <a *ngIf="link.router" [routerLink]="link.router" mat-button>
            <mat-icon *ngIf="link.icon">{{link.icon}}</mat-icon> {{link.name}}
          </a>
        </div>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
